[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "external/taglib"]
	path = external/taglib
	url = https://github.com/taglib/taglib.git
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/minimp3"]
	path = external/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git

[submodule "external/echo"]
	path = external/echo
	url = https://github.com/why-sobi/echo.git
